.bugs{
    border: 1px solid black;
    align-items: center;
    margin: 10px;
}

.sendBug{
    font-size: 15px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    border: none;
    background-color: rgba(83, 51, 237, 1);
    border-radius: 9px;
    cursor: pointer;
    color: white;
}

.sendBugDisabled{
    font-size: 15px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    border: none;
    background-color: tomato;
    border-radius: 9px;
    cursor: pointer;
    color: white;
}